<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my-app</title>
</head>

<body>
  <app-header></app-header>
  <h1 style="text-align: center;">Welcome in my-app</h1>
  <app-section class="custom"></app-section>
  <app-login></app-login>
  <h4 style="text-align: center;padding: 15px;">Increement and decreement of counter value</h4>

  <div style="text-align: center;">
    <button (click)="inc()">Increement</button>
    <p>Counter: {{counter}}</p>
    <button (click)="dec()">Decreement</button>
  </div>

  <h4 style="text-align: center;padding: 15px;">Consoling the input value</h4>
  <div style="text-align: center;padding: 15px;">
    <button (click)="getName('chunnu')">Call function</button>
  </div>

  <div style="text-align: center;padding: 15px;">
    <input type="text" #field1 (keyup)="getValue(field1.value)" placeholder="keyup event" />
  </div>

  <div style="text-align: center; padding: 15px;">
    <input type="text" #field2 (keypress)="getValue(field2.value)" placeholder="keypress event" />
  </div>

  <div style="text-align: center; padding: 15px;">
    <input type="text" name="" #field3 (blur)="getValue(field3.value)" placeholder="blur event" />
  </div>


  <h4 style="text-align: center;padding: 15px;">Display input value</h4>

  <div style="text-align: center;padding: 15px;">
    <input type="text" #box (input)="getValue(box.value)" placeholder="Enter name" />
    <p>Enter name: {{displayValue}}</p>
  </div>


  <div style="text-align: center;">
    <a routerLink="about">User</a>
  </div>
  <div style="text-align: center;">
    <a routerLink="user">About</a>
  </div>
  <router-outlet></router-outlet>
</body>

</html>